@import url('https://fonts.googleapis.com/css?family=Satisfy');

	/*Display links inline*/

	ul li {
		display: inline;
	}
	
	.namestyle {
		font-family: 'Satisfy', cursive;	
	}
	
	.linkfooter {
		bottom: 0px;
		/*bottom: -32px;*/
		right: 13px;
		cursor: default;
		position: absolute;
		text-align: right;
		width: 100%;
	}
	
	li a:hover {
		border-bottom-color: transparent;
		color: #8f617b;
	}
	
	.hoverstyle {
		color: #e4af9d;
	}
	
	@media screen and (max-width: 736px) {
		
		.linkfooter {
			top: 85px;
			cursor: default;
			position: absolute;
			text-align: center;
			width: 100%;
		}
	}
	
	#image {
		width: 65% ;
	}
	
